@model MvcKutuphane.Models.Entity.TBLYAZAR
@{
    ViewBag.Title = "YazarEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div style="margin-bottom:15px">
        <label>Yazar Adı</label>
        @Html.TextBoxFor(m => m.AD, new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.AD,"", new { @style="color:red"})
    </div>
    <div style="margin-bottom:15px">
        <label>Yazar Soyadı</label>
        @Html.TextBoxFor(m => m.SOYAD, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SOYAD, "", new { @style = "color:red" })
    </div>
    <div style="margin-bottom:15px">
        <label>Yazar Detay Bilgileri</label>
        @Html.TextAreaFor(m => m.DETAY, new { @class = "form-control" })
    </div>
    <div>
        <button class="btn btn-primary">Yazar Ekle</button>
    </div>
</form>
